# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Environment / Secrets
.env
.env.*
js/.env.js

# Firebase
.firebase/
firebase-debug.log

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build
dist/
build/

# Cache
.cache/
*.cache
